# Module 1 - Manipulating data with Pandas
## Pandas Part 2

![austin](http://www.austintexas.gov/sites/default/files/aac_logo.jpg)

## Scenario:
You have decided that you want to start your own animal shelter, but you want to get an idea of what that will entail and get more information about planning. In this lecture, we are continue to look at a real data set collected by Austin Animal Center over several years and use our pandas skills from the last lecture and learn some new ones in order to explore this data further.

#### _Our goals today are to be able to_: <br/>

Use the pandas library to:

- Get summary info about a dataset and its variables
  - Apply and use info, describe and dtypes
  - Use mean, min, max, and value_counts 
- Use apply and applymap to transform columns and create new values

- Explain lambda functions and use them to use an apply on a DataFrame
- Explain what a groupby object is and split a DataFrame using a groupby
- Reshape a DataFrame using joins, merges, pivoting, stacking, and melting

## Getting started

Let's take a moment to examine the [Austin Animal Center data set](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238/data). What kinds of questions can we ask this data and what kinds of information can we get back?

In pairs and as a class, let's generate ideas.

## Switch gears

Before we answer those questions about the animal shelter data, let's practice on a simpler dataset.
Read about this dataset here: https://www.kaggle.com/ronitf/heart-disease-uci
![heart-data](images/heartbloodpres.jpeg)

The dataset is most often used to practice classification algorithms. Can one develop a model to predict the likelihood of heart disease based on other measurable characteristics? We will return to that specific question in a few weeks, but for now we wish to use the dataset to practice some pandas methods.

### 1. Get summary info about a dataset and its variables

Applying and using `info`, `describe`, `mean`, `min`, `max`, `apply`, and `applymap` from the Pandas library

The Pandas library has several useful tools built in. Let's explore some of them.

In [1]:
!pwd
!ls -al

/Users/NateeAir/Code/dc_ds_06_03_19/module_1/week_2/day_1_manipulating_data_pandas
total 88
drwxr-xr-x  9 NateeAir  staff    288 Jun 10 10:13 .
drwxr-xr-x  3 NateeAir  staff     96 Jun 10 10:10 ..
drwxr-xr-x  2 NateeAir  staff     64 Jun 10 10:13 .ipynb_checkpoints
-rw-r--r--  1 NateeAir  staff     95 Jun 10 10:10 ds_chars.csv
-rw-r--r--  1 NateeAir  staff  11328 Jun 10 10:10 heart.csv
drwxr-xr-x  4 NateeAir  staff    128 Jun 10 10:10 images
-rw-r--r--  1 NateeAir  staff  17390 Jun 10 10:10 manipulating_data_with_pandas.ipynb
-rw-r--r--  1 NateeAir  staff   3297 Jun 10 10:10 pre_process_animal_shelter_data.py
-rw-r--r--  1 NateeAir  staff    130 Jun 10 10:10 states.csv

In [35]:
import pandas as pd
uci = pd.read_csv('heart.csv')

In [2]:
uci.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

#### The `.columns` and `.shape` Attributes

In [3]:
uci.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [4]:
uci.shape

(303, 14)

#### The `.info() `and `.describe()` and `.dtypes` methods

Pandas DataFrames have many useful methods! Let's look at `.info()` , `.describe()`, and `dtypes`.

In [5]:
# Call the .info() method on our dataset. What do you observe?

uci.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.2 KB

In [6]:
# Call the .describe() method on our dataset. What do you observe?

uci.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [7]:
# Use the code below. How does the output differ from info() ?
uci.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

#### `.mean()`, .`min()`,` .max()`, `.sum()`

The methods `.mean()`, `.min()`, and `.max()` will perform just the way you think they will!

Note that these are methods both for Series and for DataFrames.

In [8]:
uci.ca.count()

303

#### The Axis Variable

In [9]:
uci.sum() # Try [shift] + [tab] here! 

#Can change the index to sum by row or by column. If choosing 1, collapses data down to one column for each row (not useful if columns have different units). 
#Setting to 0 collapses each column to a single row.

age         16473.0
sex           207.0
cp            293.0
trestbps    39882.0
chol        74618.0
fbs            45.0
restecg       160.0
thalach     45343.0
exang          99.0
oldpeak       315.0
slope         424.0
ca            221.0
thal          701.0
target        165.0
dtype: float64

#### .`value_counts()`

For a DataFrame _Series_, the `.value_counts()` method will tell you how many of each value you've got.

In [10]:
uci['age'].value_counts()[:10] #the [:10] returns the top 10 counts

58    19
57    17
54    16
59    14
52    13
51    12
62    11
44    11
60    11
56    11
Name: age, dtype: int64

Exercise: What are the different values for restecg?

In [16]:
uci.restecg.value_counts() #or you can do uci.restecg.unique()

1    152
0    147
2      4
Name: restecg, dtype: int64

### Apply to Animal Shelter Data
Using `.info()` and `.describe()` and `dtypes` what observations can we make about the data?

What are the breed value counts?

How about age counts for dogs?

In [12]:
animal_outcomes = pd.read_csv('https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD')

In [13]:
animal_outcomes.columns

Index(['Animal ID', 'Name', 'DateTime', 'MonthYear', 'Date of Birth',
       'Outcome Type', 'Outcome Subtype', 'Animal Type', 'Sex upon Outcome',
       'Age upon Outcome', 'Breed', 'Color'],
      dtype='object')

In [14]:
animal_outcomes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101488 entries, 0 to 101487
Data columns (total 12 columns):
Animal ID           101488 non-null object
Name                69841 non-null object
DateTime            101488 non-null object
MonthYear           101488 non-null object
Date of Birth       101488 non-null object
Outcome Type        101481 non-null object
Outcome Subtype     46107 non-null object
Animal Type         101488 non-null object
Sex upon Outcome    101486 non-null object
Age upon Outcome    101468 non-null object
Breed               101488 non-null object
Color               101488 non-null object
dtypes: object(12)
memory usage: 9.3+ MB

animal_outcomes.info()

What are the breed `value_counts`?
What's the top breed for adopted dogs?

How about outcome counts for dogs?

In [23]:
animal_outcomes.loc[(animal_outcomes['Outcome Type'] == 'Adoption') 
                    & (animal_outcomes['Animal Type']=='Dog')].Breed.value_counts()[:10]

Labrador Retriever Mix       3080
Pit Bull Mix                 3037
Chihuahua Shorthair Mix      2840
German Shepherd Mix          1345
Australian Cattle Dog Mix     745
Dachshund Mix                 472
Border Collie Mix             451
Boxer Mix                     398
Catahoula Mix                 327
Staffordshire Mix             321
Name: Breed, dtype: int64

In [24]:
animal_outcomes[animal_outcomes['Animal Type'] == 'Dog']['Outcome Type'].value_counts()

Adoption           26872
Return to Owner    16545
Transfer           12455
Euthanasia          1623
Rto-Adopt            326
Died                 202
Missing               20
Disposal              11
Name: Outcome Type, dtype: int64

### 2.  Changing data

#### DataFrame.applymap() and Series.map()

The ```.applymap()``` method takes a function as input that it will then apply to every entry in the dataframe.

In [15]:
def successor(x):
    return x + 1

In [17]:
uci.applymap(successor).head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,64,2,4,146,234,2,1,151,1,3.3,1,1,2,2
1,38,2,3,131,251,1,2,188,1,4.5,1,1,3,2
2,42,1,2,131,205,1,1,173,1,2.4,3,1,3,2
3,57,2,2,121,237,1,2,179,1,1.8,3,1,3,2
4,58,1,1,121,355,1,2,164,2,1.6,3,1,3,2

The `.map()` method takes a function as input that it will then apply to every entry in the Series.

In [18]:
uci['age'].map(successor).tail(10)

293    68
294    45
295    64
296    64
297    60
298    58
299    46
300    69
301    58
302    58
Name: age, dtype: int64

#### Anonymous Functions (Lambda Abstraction)

Simple functions can be defined right in the function call. This is called 'lambda abstraction'; the function thus defined has no name and hence is "anonymous".

In [25]:
uci['oldpeak'].map(lambda x: round(x))[:4]

# 'round' is a python function - we notice this because it's not .pd or .np first
# '.map' only works on series

0    2
1    4
2    1
3    1
Name: oldpeak, dtype: int64

Exercise: Use an anonymous function to turn the entries in age to strings

In [30]:
# uci['age'] = str(uci.age)

# type(uci['age'])
# uci.head()

uci['age'].map(lambda x: str(x))[:10]

0    63
1    37
2    41
3    56
4    57
5    57
6    56
7    44
8    52
9    57
Name: age, dtype: object

### Apply to Animal Shelter Data

Use an `apply` to change the dates from strings to datetime objects. Similarly, use an apply to change the ages of the animals from strings to floats.

In [32]:
# Your code here

animal_outcomes.info()
animal_outcomes.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101488 entries, 0 to 101487
Data columns (total 12 columns):
Animal ID           101488 non-null object
Name                69841 non-null object
DateTime            101488 non-null object
MonthYear           101488 non-null object
Date of Birth       101488 non-null object
Outcome Type        101481 non-null object
Outcome Subtype     46107 non-null object
Animal Type         101488 non-null object
Sex upon Outcome    101486 non-null object
Age upon Outcome    101468 non-null object
Breed               101488 non-null object
Color               101488 non-null object
dtypes: object(12)
memory usage: 9.3+ MB

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
count,101488,69841,101488,101488,101488,101481,46107,101488,101486,101468,101488,101488
unique,90999,16975,83722,83722,6497,9,21,5,5,49,2415,572
top,A721033,Max,04/18/2016 12:00:00 AM,04/18/2016 12:00:00 AM,09/01/2015,Adoption,Partner,Dog,Neutered Male,1 year,Domestic Shorthair Mix,Black/White
freq,30,455,39,39,118,43927,25196,58064,35814,18696,29575,10575

In [44]:

animal_outcomes.DateTime.map(pd.to_datetime).head()

0   2019-06-10 13:52:00
1   2019-06-10 13:38:00
2   2019-06-10 13:35:00
3   2019-06-10 13:31:00
4   2019-06-10 12:49:00
Name: DateTime, dtype: datetime64[ns]

## 3. Methods for Re-Organizing DataFrames
#### `.groupby()`

Those of you familiar with SQL have probably used the GROUP BY command. Pandas has this, too.

The `.groupby()` method is especially useful for aggregate functions applied to the data grouped in particular ways.

In [45]:
uci.groupby('sex')

#### `.groups` and `.get_group()`

In [48]:
uci.groupby('sex').groups

{0: Int64Index([  2,   4,   6,  11,  14,  15,  16,  17,  19,  25,  28,  30,  35,
              36,  38,  39,  40,  43,  48,  49,  50,  53,  54,  59,  60,  65,
              67,  69,  74,  75,  82,  84,  85,  88,  89,  93,  94,  96, 102,
             105, 107, 108, 109, 110, 112, 115, 118, 119, 120, 122, 123, 124,
             125, 127, 128, 129, 130, 131, 134, 135, 136, 140, 142, 143, 144,
             146, 147, 151, 153, 154, 155, 161, 167, 181, 182, 190, 204, 207,
             213, 215, 216, 220, 223, 241, 246, 252, 258, 260, 263, 266, 278,
             289, 292, 296, 298, 302],
            dtype='int64'),
 1: Int64Index([  0,   1,   3,   5,   7,   8,   9,  10,  12,  13,
             ...
             288, 290, 291, 293, 294, 295, 297, 299, 300, 301],
            dtype='int64', length=207)}

In [ ]:
uci.groupby('sex').get_group(0) # .tail()

### Aggregating

In [50]:
uci.groupby('sex').std() 

#we can pass a list into groupby to group on multiply things simultaneously

uci.groupby(['age','sex']).std()

               cp   trestbps        chol       fbs   restecg    thalach  \
age sex
29  1         NaN        NaN         NaN       NaN       NaN        NaN
34  0         NaN        NaN         NaN       NaN       NaN        NaN
    1         NaN        NaN         NaN       NaN       NaN        NaN
35  0         NaN        NaN         NaN       NaN       NaN        NaN
    1    0.577350   3.055050   50.318983  0.000000  0.577350  22.120880
37  0         NaN        NaN         NaN       NaN       NaN        NaN
    1         NaN        NaN         NaN       NaN       NaN        NaN
38  1    0.577350  10.392305   32.331615  0.000000  0.000000   5.196152
39  0    0.000000  31.112698   14.849242  0.000000  0.000000  19.091883
    1    1.414214  15.556349   72.124892  0.000000  0.707107  29.698485
40  1    1.732051  21.633308   28.095077  0.000000  0.577350  37.846180
41  0    0.500000  11.729592   52.076866  0.000000  0.577350   4.272002
    1    0.752773  10.839742   35.785006  0.000000  0.516398  18.558017
42  0    1.414214  12.727922   39.597980  0.000000  0.707107  36.062446
    1    1.211060  11.201190   48.707289  0.408248  0.408248  24.541801
43  0    1.414214   7.071068   90.509668  0.707107  0.707107  20.506097
    1    0.816497  14.427982   52.729498  0.408248  0.516398  21.796024
44  0    0.000000   7.071068   71.417785  0.000000  0.000000  18.384776
    1    0.866025   9.422196   34.881944  0.000000  0.527046  13.820275
45  0    0.577350  13.316656   43.312816  0.000000  0.577350  18.681542
    1    1.303840  15.238110   41.667733  0.000000  0.447214  20.959485
46  0    1.000000  20.305993   33.181320  0.000000  0.577350  10.066446
    1    0.957427  21.761970   47.805160  0.500000  0.500000  15.370426
47  1    1.095445  13.520355   26.378021  0.000000  0.547723  22.097511
48  0         NaN        NaN         NaN       NaN       NaN        NaN
    1    0.816497   7.339391   19.114567  0.516398  0.516398  12.624051
49  0    0.707107   2.828427    1.414214  0.000000  0.000000   0.707107
    1    0.577350   6.429101   59.573484  0.000000  0.577350  23.158872
50  0    1.000000   5.773503   18.027756  0.000000  0.577350   2.081666
    1    1.154701   8.845903   23.508864  0.000000  0.577350  20.800641
...           ...        ...         ...       ...       ...        ...
57  1    0.869718  17.274555   62.204481  0.375534  0.480384  26.364798
58  0    1.264911  24.179881   55.312446  0.547723  0.516398  18.737663
    1    0.926809  14.994443   35.049964  0.277350  0.650444  22.096815
59  0         NaN        NaN         NaN       NaN       NaN        NaN
    1    1.377474  19.972417   44.410671  0.438529  0.518875  23.045106
60  0    1.258306  23.685439   57.628118  0.500000  0.500000  33.872309
    1    0.755929   9.812528   39.248901  0.377964  0.487950  13.069412
61  0    0.000000  10.606602   16.263456  0.000000  0.000000  16.263456
    1    1.329160  10.838204   33.736726  0.408248  0.516398  11.815244
62  0    0.755929  11.968212   72.135785  0.377964  0.534522  27.213442
    1    0.816497   5.259911   33.330417  0.500000  0.577350  24.426761
63  0    0.894427  16.087262   86.411805  0.000000  0.547723  17.161002
    1    1.500000   7.500000   59.637796  0.577350  0.000000   7.889867
64  0    1.154701  26.457513   11.015141  0.000000  0.000000  16.258331
    1    1.397276  19.756855   48.276485  0.000000  0.534522  23.712564
65  0    1.000000   8.539126   86.823096  0.500000  0.500000  19.364917
    1    1.500000  13.124405   44.694332  0.500000  0.500000  20.564938
66  0    1.527525  17.435596   29.461840  0.577350  0.577350  26.501572
    1    0.500000  25.612497   39.208843  0.000000  0.500000  12.893797
67  0    1.154701  24.378953  183.287570  0.000000  0.577350  15.099669
    1    0.816497  22.394196   33.819620  0.408248  0.516398  32.518713
68  0         NaN        NaN         NaN       NaN       NaN        NaN
    1    1.154701  31.134118   47.655010  0.577350  0.577350   5.507571
69  0         NaN        NaN         NaN       NaN       NaN        NaN
    1    0.707107  14.142136   14.142136  0.707107  0.000000  10.606602
70  1    0.957427  13.425722   61.430177  0.000000  0.577350  15.478480
71  0    1.000000  28.307832   79.826896  0.577350  0.577350  20.074860
74  0         NaN        NaN         NaN       NaN       NaN        NaN
76  0         NaN        NaN         NaN       NaN       NaN        NaN
77  1         NaN        NaN         NaN       NaN       NaN        NaN

            exang   oldpeak     slope        ca      thal    target
age sex
29  1         NaN       NaN       NaN       NaN       NaN       NaN
34  0         NaN       NaN       NaN       NaN       NaN       NaN
    1         NaN       NaN       NaN       NaN       NaN       NaN
35  0         NaN       NaN       NaN       NaN       NaN       NaN
    1    0.577350  0.923760  0.577350  0.000000  0.577350  0.577350
37  0         NaN       NaN       NaN       NaN       NaN       NaN
    1         NaN       NaN       NaN       NaN       NaN       NaN
38  1    0.577350  2.193931  0.577350  2.309401  0.577350  0.577350
39  0    0.000000  0.000000  0.707107  0.000000  0.000000  0.000000
    1    0.000000  0.848528  0.707107  0.000000  0.707107  0.707107
40  1    0.577350  1.026320  0.577350  0.000000  0.000000  0.577350
41  0    0.500000  0.700000  0.000000  0.500000  0.000000  0.000000
    1    0.000000  0.816497  0.516398  0.000000  0.632456  0.408248
42  0    0.000000  0.424264  0.000000  0.000000  0.000000  0.000000
    1    0.408248  0.720185  0.836660  0.816497  0.632456  0.408248
43  0    0.707107  1.979899  0.000000  0.000000  0.707107  0.707107
    1    0.516398  0.991968  0.547723  1.602082  0.547723  0.516398
44  0    0.000000  0.212132  0.000000  0.707107  0.000000  0.000000
    1    0.440959  0.926163  0.666667  0.440959  0.500000  0.500000
45  0    0.577350  0.305505  0.000000  0.000000  0.000000  0.000000
    1    0.547723  1.314534  0.547723  1.341641  0.547723  0.547723
46  0    0.577350  0.808290  1.000000  0.000000  0.000000  0.000000
    1    0.500000  1.552417  0.577350  1.000000  0.500000  0.500000
47  1    0.447214  0.438178  0.447214  0.447214  0.000000  0.547723
48  0         NaN       NaN       NaN       NaN       NaN       NaN
    1    0.408248  0.402078  0.816497  1.032796  0.547723  0.547723
49  0    0.000000  0.000000  0.707107  0.000000  0.000000  0.000000
    1    0.000000  0.757188  0.577350  1.732051  0.577350  0.577350
50  0    0.000000  0.818535  0.577350  0.000000  0.000000  0.000000
    1    0.500000  1.114675  0.500000  0.500000  0.500000  0.500000
...           ...       ...       ...       ...       ...       ...
57  1    0.518875  0.841778  0.506370  0.832050  0.869718  0.506370
58  0    0.408248  1.033441  0.547723  1.032796  0.408248  0.516398
    1    0.480384  1.419417  0.630425  1.330124  0.630425  0.438529
59  0         NaN       NaN       NaN       NaN       NaN       NaN
    1    0.480384  1.367198  0.751068  0.776250  0.751068  0.506370
60  0    0.000000  1.225765  0.500000  0.957427  0.500000  0.500000
    1    0.487950  0.780720  0.487950  0.786796  0.377964  0.000000
61  0    0.707107  0.707107  0.707107  0.000000  0.707107  0.000000
    1    0.516398  1.442798  0.516398  0.632456  0.547723  0.408248
62  0    0.377964  2.062707  0.690066  1.380131  0.487950  0.487950
    1    0.500000  0.854400  0.500000  1.290994  0.500000  0.577350
63  0    0.547723  1.768615  0.547723  1.341641  0.447214  0.547723
    1    0.577350  1.144188  0.957427  1.290994  1.000000  0.500000
64  0    0.577350  1.101514  0.577350  1.154701  0.577350  0.000000
    1    0.534522  0.926848  0.577350  0.786796  0.755929  0.534522
65  0    0.000000  0.100000  0.500000  1.414214  0.500000  0.500000
    1    0.000000  1.089342  0.577350  0.816497  0.957427  0.500000
66  0    0.577350  1.311488  0.577350  1.000000  0.577350  0.577350
    1    0.577350  1.080123  0.577350  1.414214  0.577350  0.577350
67  0    0.000000  0.850490  0.577350  1.000000  0.577350  0.000000
    1    0.547723  0.816497  0.000000  1.224745  0.547723  0.000000
68  0         NaN       NaN       NaN       NaN       NaN       NaN
    1    0.577350  1.249000  0.577350  1.000000  0.000000  0.577350
69  0         NaN       NaN       NaN       NaN       NaN       NaN
    1    0.000000  1.343503  0.000000  1.414214  0.707107  0.707107
70  1    0.577350  1.332604  0.816497  1.414214  0.577350  0.500000
71  0    0.000000  0.832666  0.577350  1.000000  0.000000  0.000000
74  0         NaN       NaN       NaN       NaN       NaN       NaN
76  0         NaN       NaN       NaN       NaN       NaN       NaN
77  1         NaN       NaN       NaN       NaN       NaN       NaN

[73 rows x 12 columns]

Exercise: Tell me the average cholesterol level for those with heart disease.

In [55]:
# Your code here!
uci.head()
uci.groupby(['target']=1).chol.mean()

SyntaxError: keyword can't be an expression (<ipython-input-55-e339d811232f>, line 3)

### Apply to Animal Shelter Data

#### Task 1
- Use a groupby to show the average age of the different kinds of animal types.
- What about by animal types **and** gender?

#### Task 2:
- Create new columns `year` and `month` by using a lambda function x.year on date
- Use `groupby` and `.size()` to tell me how many animals are adopted by month

In [ ]:
# Your code here

## 4. Reshaping a DataFrame

### `.pivot()`

Those of you familiar with Excel have probably used Pivot Tables. Pandas has a similar functionality.

In [ ]:
uci.pivot(values = 'sex', columns = 'target').head()

### Methods for Combining DataFrames: `.join()`, `.merge()`, `.concat()`, `.melt()`

### `.join()`

In [56]:
toy1 = pd.DataFrame([[63, 142], [33, 47]], columns = ['age', 'HP'])
toy2 = pd.DataFrame([[63, 100], [33, 200]], columns = ['age', 'HP'])

In [57]:
toy1.join(toy2.set_index('age'),
          on = 'age',
          lsuffix = '_A',
          rsuffix = '_B').head()

   age  HP_A  HP_B
0   63   142   100
1   33    47   200

In [58]:
toy1.join(toy2.set_index('HP'),
          on = 'HP',
          lsuffix = '_A',
          rsuffix = '_B').head()

   age_A   HP  age_B
0     63  142    NaN
1     33   47    NaN

### `.merge()`

In [ ]:
ds_chars = pd.read_csv('ds_chars.csv', index_col = 0)

In [ ]:
states = pd.read_csv('states.csv', index_col = 0)

In [ ]:
ds_chars.merge(states,
               left_on='home_state',
               right_on = 'state',
               how = 'inner')

### `pd.concat()`

Exercise: Look up the documentation on pd.concat (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html) and use it to concatenate ds_chars and states.
<br/>
Your result should still have only five rows!

In [ ]:
pd.concat([ds_chars, states])

### `pd.melt()`

Melting removes the structure from your DataFrame and puts the data in a 'variable' and 'value' format.

In [ ]:
ds_chars.head()

In [ ]:
pd.melt(ds_chars,
        id_vars=['name'],
        value_vars=['HP', 'home_state'])

## Bringing it all together with the Animal Shelter Data

Join the data from the [Austin Animal Shelter Intake dataset](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm) to the outcomes dataset by Animal ID.

Use the dates from each dataset to see how long animals spend in the shelter. Does it differ by time of year? By outcome?

The Url for the Intake Dataset is here: https://data.austintexas.gov/api/views/wter-evkm/rows.csv?accessType=DOWNLOAD

_Hints_ :
- import and clean the intake dataset first
- use apply/applymap/lambda to change the variables to their proper format in the intake data
- rename the columns in the intake dataset *before* joining
- create a new days-in-shelter variable
- Notice that some values in "days_in_shelter" column are NaN or values < 0 (remove these rows using the "<" operator and ~is.na())
- Use group_by to get some interesting information about the dataset

Make sure to export and save your cleaned dataset. We will use it in a later lecture!

use the notation `df.to_csv()` to write the `df` to a csv. Read more about the `to_csv()` documentation [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html)

In [ ]:
#code here